// 50 MHz Clock
LOCATE COMP "clk_50m_fpga" SITE "N6";
FREQUENCY PORT "clk_50m_fpga" 50 MHZ;
IOBUF PORT "clk_50m_fpga" PULLMODE=NONE IO_TYPE=LVCMOS33;

// External reset
LOCATE COMP "gpio_to_fpga_design_reset_l" SITE "AA1";
IOBUF PORT "gpio_to_fpga_design_reset_l" PULLMODE=NONE IO_TYPE=LVCMOS33;

// SPI
LOCATE COMP "spi_main_to_fpga_cs0_l" SITE "AB2";
IOBUF PORT "spi_main_to_fpga_cs0_l" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "spi_main_to_fpga_cs1_l" SITE "AC2";
IOBUF PORT "spi_main_to_fpga_cs1_l" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "spi_main_to_fpga_miso_r" SITE "AD1";
IOBUF PORT "spi_main_to_fpga_miso_r" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "spi_main_to_fpga_sck" SITE "AD3";
IOBUF PORT "spi_main_to_fpga_sck" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "spi_main_to_fpga_mosi" SITE "AF2";
IOBUF PORT "spi_main_to_fpga_mosi" PULLMODE=NONE IO_TYPE=LVCMOS33;

// Power
LOCATE COMP "pmbus_v3p3_qsfp_to_fpga_alert" SITE "B3";
IOBUF PORT "pmbus_v3p3_qsfp_to_fpga_alert" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "vr_v3p3_qsfp_to_fpga_pg" SITE "C1";
IOBUF PORT "vr_v3p3_qsfp_to_fpga_pg" PULLMODE=UP OPENDRAIN=ON IO_TYPE=LVCMOS33;
LOCATE COMP "fpga_to_vr_v3p3_qsfp_en" SITE "C2";
IOBUF PORT "fpga_to_vr_v3p3_qsfp_en" PULLMODE=NONE IO_TYPE=LVCMOS33;

// PHY (FPGA1 only)
LOCATE COMP "fpga_to_vr_phy_en" SITE "D4";
IOBUF PORT "fpga_to_vr_phy_en" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "vr_v2p5_phy_to_fpga_pg" SITE "B1";
IOBUF PORT "vr_v2p5_phy_to_fpga_pg" PULLMODE=UP OPENDRAIN=ON IO_TYPE=LVCMOS33;
LOCATE COMP "vr_v1p0_phy_to_fpga_pg" SITE "D3";
IOBUF PORT "vr_v1p0_phy_to_fpga_pg" PULLMODE=UP OPENDRAIN=ON IO_TYPE=LVCMOS33;
LOCATE COMP "fpga_to_phy_refclk_en" SITE "C5";
IOBUF PORT "fpga_to_phy_refclk_en" PULLMODE=NONE IO_TYPE=LVCMOS25;
LOCATE COMP "fpga_to_phy_coma_mode" SITE "D5";
IOBUF PORT "fpga_to_phy_coma_mode" PULLMODE=NONE IO_TYPE=LVCMOS25;
LOCATE COMP "fpga_to_phy_reset_l" SITE "A4";
IOBUF PORT "fpga_to_phy_reset_l" PULLMODE=NONE IO_TYPE=LVCMOS25;
LOCATE COMP "miim_phy_to_fpga_mdint_l" SITE "B4";
IOBUF PORT "miim_phy_to_fpga_mdint_l" PULLMODE=NONE IO_TYPE=LVCMOS25;
LOCATE COMP "miim_fpga_to_phy_mdio" SITE "A3";
IOBUF PORT "miim_fpga_to_phy_mdio" PULLMODE=NONE IO_TYPE=LVCMOS25;
LOCATE COMP "miim_fpga_to_phy_mdc" SITE "A2";
IOBUF PORT "miim_fpga_to_phy_mdc" PULLMODE=NONE IO_TYPE=LVCMOS25;

// Misc
LOCATE COMP "fpga_app_id_r" SITE "AB1";
IOBUF PORT "fpga_app_id_r" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "fpga_to_main_irq_r_l" SITE "AC1";
IOBUF PORT "fpga_to_main_irq_r_l" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "fpga_led" SITE "AB3";
IOBUF PORT "fpga_led" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "fpga_to_leds0_reset_l" SITE "D1";
IOBUF PORT "fpga_to_leds0_reset_l" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "fpga_to_leds0_oe_l" SITE "E3";
IOBUF PORT "fpga_to_leds0_oe_l" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "debug_fpga_io[0]" SITE "H6";
IOBUF PORT "debug_fpga_io[0]" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "debug_fpga_io[1]" SITE "H5";
IOBUF PORT "debug_fpga_io[1]" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "debug_fpga_io[2]" SITE "F4";
IOBUF PORT "debug_fpga_io[2]" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "debug_fpga_io[3]" SITE "F5";
IOBUF PORT "debug_fpga_io[3]" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "debug_fpga_io[4]" SITE "L5";
IOBUF PORT "debug_fpga_io[4]" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "debug_fpga_io[5]" SITE "H4";
IOBUF PORT "debug_fpga_io[5]" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "debug_fpga_io[6]" SITE "K6";
IOBUF PORT "debug_fpga_io[6]" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "debug_fpga_io[7]" SITE "J6";
IOBUF PORT "debug_fpga_io[7]" PULLMODE=NONE IO_TYPE=LVCMOS33;

# FPGA0: P0, FPGA1: P8
LOCATE COMP "fpga_to_qsfp_en_0" SITE "V26";
IOBUF PORT "fpga_to_qsfp_en_0" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "qsfp_to_fpga_pg_0" SITE "U24";
IOBUF PORT "qsfp_to_fpga_pg_0" PULLMODE=DOWN IO_TYPE=LVCMOS33;
LOCATE COMP "fpga_to_qsfp_lpmode_0" SITE "U22";
IOBUF PORT "fpga_to_qsfp_lpmode_0" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "fpga_to_qsfp_reset_l_0" SITE "W21";
IOBUF PORT "fpga_to_qsfp_reset_l_0" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "qsfp_to_fpga_irq_l_0" SITE "T22";
IOBUF PORT "qsfp_to_fpga_irq_l_0" PULLMODE=UP OPENDRAIN=ON IO_TYPE=LVCMOS33;
LOCATE COMP "qsfp_to_fpga_present_l_0" SITE "W23";
IOBUF PORT "qsfp_to_fpga_present_l_0" PULLMODE=UP IO_TYPE=LVCMOS33;
LOCATE COMP "i2c_fpga_to_qsfp_sda_0" SITE "V21";
IOBUF PORT "i2c_fpga_to_qsfp_sda_0" PULLMODE=NONE OPENDRAIN=ON IO_TYPE=LVCMOS33;
LOCATE COMP "i2c_fpga_to_qsfp_scl_0" SITE "W22";
IOBUF PORT "i2c_fpga_to_qsfp_scl_0" PULLMODE=NONE OPENDRAIN=ON IO_TYPE=LVCMOS33;

# FPGA0: P1, FPGA1: P9
LOCATE COMP "qsfp_to_fpga_irq_l_1" SITE "K24";
IOBUF PORT "qsfp_to_fpga_irq_l_1" PULLMODE=UP OPENDRAIN=ON IO_TYPE=LVCMOS33;
LOCATE COMP "i2c_fpga_to_qsfp_scl_1" SITE "K25";
IOBUF PORT "i2c_fpga_to_qsfp_scl_1" PULLMODE=NONE OPENDRAIN=ON IO_TYPE=LVCMOS33;
LOCATE COMP "i2c_fpga_to_qsfp_sda_1" SITE "L24";
IOBUF PORT "i2c_fpga_to_qsfp_sda_1" PULLMODE=NONE OPENDRAIN=ON IO_TYPE=LVCMOS33;
LOCATE COMP "fpga_to_qsfp_lpmode_1" SITE "M24";
IOBUF PORT "fpga_to_qsfp_lpmode_1" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "fpga_to_qsfp_reset_l_1" SITE "N26";
IOBUF PORT "fpga_to_qsfp_reset_l_1" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "qsfp_to_fpga_pg_1" SITE "R26";
IOBUF PORT "qsfp_to_fpga_pg_1" PULLMODE=DOWN IO_TYPE=LVCMOS33;
LOCATE COMP "qsfp_to_fpga_present_l_1" SITE "T25";
IOBUF PORT "qsfp_to_fpga_present_l_1" PULLMODE=UP IO_TYPE=LVCMOS33;
LOCATE COMP "fpga_to_qsfp_en_1" SITE "V24";
IOBUF PORT "fpga_to_qsfp_en_1" PULLMODE=NONE IO_TYPE=LVCMOS33;

# FPGA0: P2, FPGA1: P10
LOCATE COMP "i2c_fpga_to_qsfp_scl_2" SITE "H25";
IOBUF PORT "i2c_fpga_to_qsfp_scl_2" PULLMODE=NONE OPENDRAIN=ON IO_TYPE=LVCMOS33;
LOCATE COMP "qsfp_to_fpga_irq_l_2" SITE "H26";
IOBUF PORT "qsfp_to_fpga_irq_l_2" PULLMODE=UP OPENDRAIN=ON IO_TYPE=LVCMOS33;
LOCATE COMP "i2c_fpga_to_qsfp_sda_2" SITE "J26";
IOBUF PORT "i2c_fpga_to_qsfp_sda_2" PULLMODE=NONE OPENDRAIN=ON IO_TYPE=LVCMOS33;
LOCATE COMP "fpga_to_qsfp_lpmode_2" SITE "K26";
IOBUF PORT "fpga_to_qsfp_lpmode_2" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "fpga_to_qsfp_reset_l_2" SITE "L25";
IOBUF PORT "fpga_to_qsfp_reset_l_2" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "fpga_to_qsfp_en_2" SITE "L26";
IOBUF PORT "fpga_to_qsfp_en_2" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "qsfp_to_fpga_pg_2" SITE "M26";
IOBUF PORT "qsfp_to_fpga_pg_2" PULLMODE=DOWN IO_TYPE=LVCMOS33;
LOCATE COMP "qsfp_to_fpga_present_l_2" SITE "N25";
IOBUF PORT "qsfp_to_fpga_present_l_2" PULLMODE=UP IO_TYPE=LVCMOS33;

# FPGA0: P3, FPGA1: P11
LOCATE COMP "fpga_to_qsfp_lpmode_3" SITE "C23";
IOBUF PORT "fpga_to_qsfp_lpmode_3" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "fpga_to_qsfp_en_3" SITE "C26";
IOBUF PORT "fpga_to_qsfp_en_3" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "fpga_to_qsfp_reset_l_3" SITE "D23";
IOBUF PORT "fpga_to_qsfp_reset_l_3" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "qsfp_to_fpga_pg_3" SITE "D24";
IOBUF PORT "qsfp_to_fpga_pg_3" PULLMODE=DOWN IO_TYPE=LVCMOS33;
LOCATE COMP "qsfp_to_fpga_present_l_3" SITE "D26";
IOBUF PORT "qsfp_to_fpga_present_l_3" PULLMODE=UP IO_TYPE=LVCMOS33;
LOCATE COMP "i2c_fpga_to_qsfp_sda_3" SITE "E23";
IOBUF PORT "i2c_fpga_to_qsfp_sda_3" PULLMODE=NONE OPENDRAIN=ON IO_TYPE=LVCMOS33;
LOCATE COMP "qsfp_to_fpga_irq_l_3" SITE "K21";
IOBUF PORT "qsfp_to_fpga_irq_l_3" PULLMODE=UP OPENDRAIN=ON IO_TYPE=LVCMOS33;
LOCATE COMP "i2c_fpga_to_qsfp_scl_3" SITE "J21";
IOBUF PORT "i2c_fpga_to_qsfp_scl_3" PULLMODE=NONE OPENDRAIN=ON IO_TYPE=LVCMOS33;

# FPGA0: P4, FPGA1: P12
LOCATE COMP "fpga_to_qsfp_en_4" SITE "E21";
IOBUF PORT "fpga_to_qsfp_en_4" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "qsfp_to_fpga_pg_4" SITE "A22";
IOBUF PORT "qsfp_to_fpga_pg_4" PULLMODE=DOWN IO_TYPE=LVCMOS33;
LOCATE COMP "fpga_to_qsfp_lpmode_4" SITE "C18";
IOBUF PORT "fpga_to_qsfp_lpmode_4" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "fpga_to_qsfp_reset_l_4" SITE "B19";
IOBUF PORT "fpga_to_qsfp_reset_l_4" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "qsfp_to_fpga_irq_l_4" SITE "B21";
IOBUF PORT "qsfp_to_fpga_irq_l_4" PULLMODE=UP OPENDRAIN=ON IO_TYPE=LVCMOS33;
LOCATE COMP "qsfp_to_fpga_present_l_4" SITE "C22";
IOBUF PORT "qsfp_to_fpga_present_l_4" PULLMODE=UP IO_TYPE=LVCMOS33;
LOCATE COMP "i2c_fpga_to_qsfp_sda_4" SITE "A17";
IOBUF PORT "i2c_fpga_to_qsfp_sda_4" PULLMODE=NONE OPENDRAIN=ON IO_TYPE=LVCMOS33;
LOCATE COMP "i2c_fpga_to_qsfp_scl_4" SITE "D17";
IOBUF PORT "i2c_fpga_to_qsfp_scl_4" PULLMODE=NONE OPENDRAIN=ON IO_TYPE=LVCMOS33;

# FPGA0: P5, FPGA1: P13
LOCATE COMP "fpga_to_qsfp_en_5" SITE "A15";
IOBUF PORT "fpga_to_qsfp_en_5" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "qsfp_to_fpga_pg_5" SITE "B16";
IOBUF PORT "qsfp_to_fpga_pg_5" PULLMODE=DOWN IO_TYPE=LVCMOS33;
LOCATE COMP "i2c_fpga_to_qsfp_scl_5" SITE "C13";
IOBUF PORT "i2c_fpga_to_qsfp_scl_5" PULLMODE=NONE OPENDRAIN=ON IO_TYPE=LVCMOS33;
LOCATE COMP "qsfp_to_fpga_irq_l_5" SITE "B13";
IOBUF PORT "qsfp_to_fpga_irq_l_5" PULLMODE=UP OPENDRAIN=ON IO_TYPE=LVCMOS33;
LOCATE COMP "qsfp_to_fpga_present_l_5" SITE "A16";
IOBUF PORT "qsfp_to_fpga_present_l_5" PULLMODE=UP IO_TYPE=LVCMOS33;
LOCATE COMP "fpga_to_qsfp_reset_l_5" SITE "D16";
IOBUF PORT "fpga_to_qsfp_reset_l_5" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "i2c_fpga_to_qsfp_sda_5" SITE "E14";
IOBUF PORT "i2c_fpga_to_qsfp_sda_5" PULLMODE=NONE OPENDRAIN=ON IO_TYPE=LVCMOS33;
LOCATE COMP "fpga_to_qsfp_lpmode_5" SITE "E16";
IOBUF PORT "fpga_to_qsfp_lpmode_5" PULLMODE=NONE IO_TYPE=LVCMOS33;

# FPGA0: P6, FPGA1: P14
LOCATE COMP "fpga_to_qsfp_en_6" SITE "M3";
IOBUF PORT "fpga_to_qsfp_en_6" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "fpga_to_qsfp_reset_l_6" SITE "N2";
IOBUF PORT "fpga_to_qsfp_reset_l_6" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "qsfp_to_fpga_pg_6" SITE "N4";
IOBUF PORT "qsfp_to_fpga_pg_6" PULLMODE=DOWN IO_TYPE=LVCMOS33;
LOCATE COMP "fpga_to_qsfp_lpmode_6" SITE "P4";
IOBUF PORT "fpga_to_qsfp_lpmode_6" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "qsfp_to_fpga_present_l_6" SITE "P5";
IOBUF PORT "qsfp_to_fpga_present_l_6" PULLMODE=UP IO_TYPE=LVCMOS33;
LOCATE COMP "qsfp_to_fpga_irq_l_6" SITE "R6";
IOBUF PORT "qsfp_to_fpga_irq_l_6" PULLMODE=UP OPENDRAIN=ON IO_TYPE=LVCMOS33;
LOCATE COMP "i2c_fpga_to_qsfp_scl_6" SITE "U3";
IOBUF PORT "i2c_fpga_to_qsfp_scl_6" PULLMODE=NONE OPENDRAIN=ON IO_TYPE=LVCMOS33;
LOCATE COMP "i2c_fpga_to_qsfp_sda_6" SITE "U4";
IOBUF PORT "i2c_fpga_to_qsfp_sda_6" PULLMODE=NONE OPENDRAIN=ON IO_TYPE=LVCMOS33;

# FPGA0: P7, FPGA1: P15
LOCATE COMP "fpga_to_qsfp_reset_l_7" SITE "P3";
IOBUF PORT "fpga_to_qsfp_reset_l_7" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "qsfp_to_fpga_pg_7" SITE "R1";
IOBUF PORT "qsfp_to_fpga_pg_7" PULLMODE=DOWN IO_TYPE=LVCMOS33;
LOCATE COMP "qsfp_to_fpga_present_l_7" SITE "R3";
IOBUF PORT "qsfp_to_fpga_present_l_7" PULLMODE=UP IO_TYPE=LVCMOS33;
LOCATE COMP "fpga_to_qsfp_en_7" SITE "T2";
IOBUF PORT "fpga_to_qsfp_en_7" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "fpga_to_qsfp_lpmode_7" SITE "T5";
IOBUF PORT "fpga_to_qsfp_lpmode_7" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "i2c_fpga_to_qsfp_sda_7" SITE "V1";
IOBUF PORT "i2c_fpga_to_qsfp_sda_7" PULLMODE=NONE OPENDRAIN=ON IO_TYPE=LVCMOS33;
LOCATE COMP "qsfp_to_fpga_irq_l_7" SITE "W5";
IOBUF PORT "qsfp_to_fpga_irq_l_7" PULLMODE=UP OPENDRAIN=ON IO_TYPE=LVCMOS33;
LOCATE COMP "i2c_fpga_to_qsfp_scl_7" SITE "W6";
IOBUF PORT "i2c_fpga_to_qsfp_scl_7" PULLMODE=NONE OPENDRAIN=ON IO_TYPE=LVCMOS33;

# FPGA0: P16, FPGA1: P24
LOCATE COMP "fpga_to_qsfp_reset_l_8" SITE "P25";
IOBUF PORT "fpga_to_qsfp_reset_l_8" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "fpga_to_qsfp_lpmode_8" SITE "P26";
IOBUF PORT "fpga_to_qsfp_lpmode_8" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "fpga_to_qsfp_en_8" SITE "T26";
IOBUF PORT "fpga_to_qsfp_en_8" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "qsfp_to_fpga_pg_8" SITE "U25";
IOBUF PORT "qsfp_to_fpga_pg_8" PULLMODE=DOWN IO_TYPE=LVCMOS33;
LOCATE COMP "qsfp_to_fpga_present_l_8" SITE "U26";
IOBUF PORT "qsfp_to_fpga_present_l_8" PULLMODE=UP IO_TYPE=LVCMOS33;
LOCATE COMP "qsfp_to_fpga_irq_l_8" SITE "W24";
IOBUF PORT "qsfp_to_fpga_irq_l_8" PULLMODE=UP OPENDRAIN=ON IO_TYPE=LVCMOS33;
LOCATE COMP "i2c_fpga_to_qsfp_scl_8" SITE "W25";
IOBUF PORT "i2c_fpga_to_qsfp_scl_8" PULLMODE=NONE OPENDRAIN=ON IO_TYPE=LVCMOS33;
LOCATE COMP "i2c_fpga_to_qsfp_sda_8" SITE "W26";
IOBUF PORT "i2c_fpga_to_qsfp_sda_8" PULLMODE=NONE OPENDRAIN=ON IO_TYPE=LVCMOS33;

# FPGA0: P17, FPGA1: P25
LOCATE COMP "fpga_to_qsfp_reset_l_9" SITE "H24";
IOBUF PORT "fpga_to_qsfp_reset_l_9" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "fpga_to_qsfp_lpmode_9" SITE "J24";
IOBUF PORT "fpga_to_qsfp_lpmode_9" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "fpga_to_qsfp_en_9" SITE "N24";
IOBUF PORT "fpga_to_qsfp_en_9" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "qsfp_to_fpga_pg_9" SITE "P23";
IOBUF PORT "qsfp_to_fpga_pg_9" PULLMODE=DOWN IO_TYPE=LVCMOS33;
LOCATE COMP "i2c_fpga_to_qsfp_sda_9" SITE "P24";
IOBUF PORT "i2c_fpga_to_qsfp_sda_9" PULLMODE=NONE OPENDRAIN=ON IO_TYPE=LVCMOS33;
LOCATE COMP "i2c_fpga_to_qsfp_scl_9" SITE "R21";
IOBUF PORT "i2c_fpga_to_qsfp_scl_9" PULLMODE=NONE OPENDRAIN=ON IO_TYPE=LVCMOS33;
LOCATE COMP "qsfp_to_fpga_present_l_9" SITE "R24";
IOBUF PORT "qsfp_to_fpga_present_l_9" PULLMODE=UP IO_TYPE=LVCMOS33;
LOCATE COMP "qsfp_to_fpga_irq_l_9" SITE "T24";
IOBUF PORT "qsfp_to_fpga_irq_l_9" PULLMODE=UP OPENDRAIN=ON IO_TYPE=LVCMOS33;

# FPGA0: P18, FPGA1: P26
LOCATE COMP "fpga_to_qsfp_reset_l_10" SITE "B26";
IOBUF PORT "fpga_to_qsfp_reset_l_10" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "fpga_to_qsfp_lpmode_10" SITE "C25";
IOBUF PORT "fpga_to_qsfp_lpmode_10" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "qsfp_to_fpga_pg_10" SITE "E24";
IOBUF PORT "qsfp_to_fpga_pg_10" PULLMODE=DOWN IO_TYPE=LVCMOS33;
LOCATE COMP "fpga_to_qsfp_en_10" SITE "E26";
IOBUF PORT "fpga_to_qsfp_en_10" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "qsfp_to_fpga_present_l_10" SITE "F25";
IOBUF PORT "qsfp_to_fpga_present_l_10" PULLMODE=UP IO_TYPE=LVCMOS33;
LOCATE COMP "qsfp_to_fpga_irq_l_10" SITE "F26";
IOBUF PORT "qsfp_to_fpga_irq_l_10" PULLMODE=UP OPENDRAIN=ON IO_TYPE=LVCMOS33;
LOCATE COMP "i2c_fpga_to_qsfp_sda_10" SITE "K22";
IOBUF PORT "i2c_fpga_to_qsfp_sda_10" PULLMODE=NONE OPENDRAIN=ON IO_TYPE=LVCMOS33;
LOCATE COMP "i2c_fpga_to_qsfp_scl_10" SITE "L22";
IOBUF PORT "i2c_fpga_to_qsfp_scl_10" PULLMODE=NONE OPENDRAIN=ON IO_TYPE=LVCMOS33;

# FPGA0: P19, FPGA1: P27
LOCATE COMP "qsfp_to_fpga_irq_l_11" SITE "C24";
IOBUF PORT "qsfp_to_fpga_irq_l_11" PULLMODE=UP OPENDRAIN=ON IO_TYPE=LVCMOS33;
LOCATE COMP "i2c_fpga_to_qsfp_sda_11" SITE "B24";
IOBUF PORT "i2c_fpga_to_qsfp_sda_11" PULLMODE=NONE OPENDRAIN=ON IO_TYPE=LVCMOS33;
LOCATE COMP "fpga_to_qsfp_lpmode_11" SITE "F22";
IOBUF PORT "fpga_to_qsfp_lpmode_11" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "qsfp_to_fpga_pg_11" SITE "F24";
IOBUF PORT "qsfp_to_fpga_pg_11" PULLMODE=DOWN IO_TYPE=LVCMOS33;
LOCATE COMP "fpga_to_qsfp_reset_l_11" SITE "H21";
IOBUF PORT "fpga_to_qsfp_reset_l_11" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "fpga_to_qsfp_en_11" SITE "H22";
IOBUF PORT "fpga_to_qsfp_en_11" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "qsfp_to_fpga_present_l_11" SITE "H23";
IOBUF PORT "qsfp_to_fpga_present_l_11" PULLMODE=UP IO_TYPE=LVCMOS33;
LOCATE COMP "i2c_fpga_to_qsfp_scl_11" SITE "J23";
IOBUF PORT "i2c_fpga_to_qsfp_scl_11" PULLMODE=NONE OPENDRAIN=ON IO_TYPE=LVCMOS33;

# FPGA0: P20, FPGA1: P28
LOCATE COMP "qsfp_to_fpga_irq_l_12" SITE "A19";
IOBUF PORT "qsfp_to_fpga_irq_l_12" PULLMODE=UP OPENDRAIN=ON IO_TYPE=LVCMOS33;
LOCATE COMP "fpga_to_qsfp_en_12" SITE "A21";
IOBUF PORT "fpga_to_qsfp_en_12" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "qsfp_to_fpga_pg_12" SITE "B17";
IOBUF PORT "qsfp_to_fpga_pg_12" PULLMODE=DOWN IO_TYPE=LVCMOS33;
LOCATE COMP "i2c_fpga_to_qsfp_sda_12" SITE "C19";
IOBUF PORT "i2c_fpga_to_qsfp_sda_12" PULLMODE=NONE OPENDRAIN=ON IO_TYPE=LVCMOS33;
LOCATE COMP "fpga_to_qsfp_lpmode_12" SITE "C21";
IOBUF PORT "fpga_to_qsfp_lpmode_12" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "qsfp_to_fpga_present_l_12" SITE "D18";
IOBUF PORT "qsfp_to_fpga_present_l_12" PULLMODE=UP IO_TYPE=LVCMOS33;
LOCATE COMP "i2c_fpga_to_qsfp_scl_12" SITE "D19";
IOBUF PORT "i2c_fpga_to_qsfp_scl_12" PULLMODE=NONE OPENDRAIN=ON IO_TYPE=LVCMOS33;
LOCATE COMP "fpga_to_qsfp_reset_l_12" SITE "E17";
IOBUF PORT "fpga_to_qsfp_reset_l_12" PULLMODE=NONE IO_TYPE=LVCMOS33;

# FPGA0: P21, FPGA1: P29
LOCATE COMP "qsfp_to_fpga_present_l_13" SITE "B14";
IOBUF PORT "qsfp_to_fpga_present_l_13" PULLMODE=UP IO_TYPE=LVCMOS33;
LOCATE COMP "qsfp_to_fpga_pg_13" SITE "C14";
IOBUF PORT "qsfp_to_fpga_pg_13" PULLMODE=DOWN IO_TYPE=LVCMOS33;
LOCATE COMP "qsfp_to_fpga_irq_l_13" SITE "C16";
IOBUF PORT "qsfp_to_fpga_irq_l_13" PULLMODE=UP OPENDRAIN=ON IO_TYPE=LVCMOS33;
LOCATE COMP "fpga_to_qsfp_lpmode_13" SITE "D13";
IOBUF PORT "fpga_to_qsfp_lpmode_13" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "fpga_to_qsfp_en_13" SITE "D14";
IOBUF PORT "fpga_to_qsfp_en_13" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "i2c_fpga_to_qsfp_sda_13" SITE "D21";
IOBUF PORT "i2c_fpga_to_qsfp_sda_13" PULLMODE=NONE OPENDRAIN=ON IO_TYPE=LVCMOS33;
LOCATE COMP "fpga_to_qsfp_reset_l_13" SITE "E13";
IOBUF PORT "fpga_to_qsfp_reset_l_13" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "i2c_fpga_to_qsfp_scl_13" SITE "E19";
IOBUF PORT "i2c_fpga_to_qsfp_scl_13" PULLMODE=NONE OPENDRAIN=ON IO_TYPE=LVCMOS33;

# FPGA0: P22, FPGA1: P30
LOCATE COMP "i2c_fpga_to_qsfp_scl_14" SITE "K1";
IOBUF PORT "i2c_fpga_to_qsfp_scl_14" PULLMODE=NONE OPENDRAIN=ON IO_TYPE=LVCMOS33;
LOCATE COMP "qsfp_to_fpga_irq_l_14" SITE "L2";
IOBUF PORT "qsfp_to_fpga_irq_l_14" PULLMODE=UP OPENDRAIN=ON IO_TYPE=LVCMOS33;
LOCATE COMP "i2c_fpga_to_qsfp_sda_14" SITE "M1";
IOBUF PORT "i2c_fpga_to_qsfp_sda_14" PULLMODE=NONE OPENDRAIN=ON IO_TYPE=LVCMOS33;
LOCATE COMP "fpga_to_qsfp_reset_l_14" SITE "N1";
IOBUF PORT "fpga_to_qsfp_reset_l_14" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "qsfp_to_fpga_pg_14" SITE "N3";
IOBUF PORT "qsfp_to_fpga_pg_14" PULLMODE=DOWN IO_TYPE=LVCMOS33;
LOCATE COMP "qsfp_to_fpga_present_l_14" SITE "P2";
IOBUF PORT "qsfp_to_fpga_present_l_14" PULLMODE=UP IO_TYPE=LVCMOS33;
LOCATE COMP "fpga_to_qsfp_en_14" SITE "R4";
IOBUF PORT "fpga_to_qsfp_en_14" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "fpga_to_qsfp_lpmode_14" SITE "T4";
IOBUF PORT "fpga_to_qsfp_lpmode_14" PULLMODE=NONE IO_TYPE=LVCMOS33;

# FPGA0: P23, FPGA1: P31
LOCATE COMP "qsfp_to_fpga_irq_l_15" SITE "P1";
IOBUF PORT "qsfp_to_fpga_irq_l_15" PULLMODE=UP OPENDRAIN=ON IO_TYPE=LVCMOS33;
LOCATE COMP "i2c_fpga_to_qsfp_sda_15" SITE "T1";
IOBUF PORT "i2c_fpga_to_qsfp_sda_15" PULLMODE=NONE OPENDRAIN=ON IO_TYPE=LVCMOS33;
LOCATE COMP "qsfp_to_fpga_pg_15" SITE "U1";
IOBUF PORT "qsfp_to_fpga_pg_15" PULLMODE=DOWN IO_TYPE=LVCMOS33;
LOCATE COMP "i2c_fpga_to_qsfp_scl_15" SITE "U2";
IOBUF PORT "i2c_fpga_to_qsfp_scl_15" PULLMODE=NONE OPENDRAIN=ON IO_TYPE=LVCMOS33;
LOCATE COMP "qsfp_to_fpga_present_l_15" SITE "U6";
IOBUF PORT "qsfp_to_fpga_present_l_15" PULLMODE=UP IO_TYPE=LVCMOS33;
LOCATE COMP "fpga_to_qsfp_en_15" SITE "V4";
IOBUF PORT "fpga_to_qsfp_en_15" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "fpga_to_qsfp_lpmode_15" SITE "V6";
IOBUF PORT "fpga_to_qsfp_lpmode_15" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "fpga_to_qsfp_reset_l_15" SITE "W4";
IOBUF PORT "fpga_to_qsfp_reset_l_15" PULLMODE=NONE IO_TYPE=LVCMOS33;
