set_io --warn-no-port ign_trgt_fpga_debug_led[0] A11
set_io --warn-no-port ign_trgt_fpga_debug_led[1] A10
set_io --warn-no-port ign_trgt_fpga_debug_led[2] C9
set_io --warn-no-port ign_trgt_fpga_debug_led[3] B9
set_io --warn-no-port ign_trgt_fpga_spare_v3p3[0] B8
set_io --warn-no-port ign_trgt_fpga_spare_v3p3[1] A9
set_io --warn-no-port ign_trgt_fpga_spare_v3p3[2] C8
set_io --warn-no-port ign_trgt_fpga_spare_v3p3[3] D7
set_io --warn-no-port ign_trgt_fpga_spare_v3p3[4] A8
set_io --warn-no-port ign_trgt_fpga_spare_v3p3[5] C7
set_io --warn-no-port ign_trgt_fpga_spare_v3p3[6] A7
set_io --warn-no-port ign_trgt_fpga_spare_v3p3[7] B7
set_io --warn-no-port clk_50mhz_ign_trgt_fpga B6
set_io --warn-no-port ign_trgt_id[0] A5
set_io --warn-no-port ign_trgt_id[1] B5
set_io --warn-no-port ign_trgt_id[2] A4
set_io --warn-no-port ign_trgt_id[3] B4
set_io --warn-no-port ign_trgt_id[4] A3
set_io --warn-no-port ign_trgt_id[5] B3
set_io --warn-no-port ign_trgt_id[6] A2
set_io --warn-no-port ign_trgt_id[7] A1
set_io --warn-no-port ign_trgt_fpga_lvds_status_led_en_l L1
set_io --warn-no-port ign_trgt_fpga_pushbutton_reset_l L5
set_io --warn-no-port ign_trgt_fpga_design_reset_l K6
set_io --warn-no-port lvds_rsw0_to_ign_trgt_fpga_p B2
#set_io --warn-no-port lvds_rsw0_to_ign_trgt_fpga_n B1
# Note: p/n un-swapped in FPGA
set_io --warn-no-port lvds_ign_trgt_fpga_to_rsw0_p C2
set_io --warn-no-port lvds_ign_trgt_fpga_to_rsw0_n C1
set_io --warn-no-port lvds_rsw1_to_ign_trgt_fpga_p G2
#set_io --warn-no-port lvds_rsw1_to_ign_trgt_fpga_n G1
# Note: p/n un-swapped in FPGA
set_io --warn-no-port lvds_ign_trgt_fpga_to_rsw1_p H2
set_io --warn-no-port lvds_ign_trgt_fpga_to_rsw1_n H1
set_io --warn-no-port v3p3_fpga2_a2_pg J11
set_io --warn-no-port v1p2_fpga2_a2_pg K11
set_io --warn-no-port v2p5_fpga2_a2_pg H10
set_io --warn-no-port main_hsc_restart G10
set_io --warn-no-port ibc_en G11
set_io --warn-no-port v5p0_sys_a2_pg F11
set_io --warn-no-port v3p3_sys_a2_pg E10
set_io --warn-no-port v1p8_sys_a2_pg E9
set_io --warn-no-port v1p0_mgmt_a2_pg D9
set_io --warn-no-port v2p5_mgmt_a2_pg E11
set_io --warn-no-port v12_sys_a2_pg_l D11
set_io --warn-no-port main_hsc_pg D10
set_io --warn-no-port sp_fault_l C11
set_io --warn-no-port rot_fault_l B11

set_frequency clk_50mhz_ign_trgt_fpga 50