# Cobble/Python ignores
BUILD.vars
/build
__pycache__

# Buck2 ignores
/buck-out

# VUnit ignores
/vunit_out

# VHDL-LS ignores
/vhdl_ls.toml

devcontainer.json

# VS Code settings
.vscode

# pycharm
/.idea

# MacOS metadata
.DS_Store

# Vivado
/.Xil
/.gen
/.srcs
clockinfo.txt
clockInfo.txt
vivado*.jou
vivado*.log
/clockinfo.txt
**/*clockInfo.txt
*.txt
*.zip
*.fst
*.vcd
# Yep, even ignore Vivado core dump logs!
*.log 
 
# VUnit test results
**/*.xml

# DrawIO cruft
**/*.svg.bkp

# cobble local env
BUILD.vars