# Cobble/Python ignores
BUILD.vars
/build
__pycache__

# Buck2 ignores
/buck-out

# VUnit ignores
/vunit_out

devcontainer.json

# VS Code settings
.vscode

# pycharm
/.idea

# MacOS metadata
.DS_Store

# Vivado
/.Xil
/.gen
/.srcs
clockinfo.txt
clockInfo.txt
vivado*.jou
vivado*.log
/clockinfo.txt
**/*clockInfo.txt
# Yep, even ignore Vivado core dump logs!
*.log 
 
# DrawIO cruft
**/*.svg.bkp
 *.dtmp
