## A minimal constraint file for the Lattice ECP5 Evaluation Board.

BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

## A10 is connected to a 12MHz clock.
LOCATE COMP "clk_12mhz" SITE "A10";
IOBUF  PORT "clk_12mhz" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk_12mhz" 12 MHZ;

## Design reset
LOCATE COMP "design_reset_l" SITE "T3";
IOBUF PORT "design_reset_l" PULLMODE=UP IO_TYPE=LVCMOS33;

## SPI pins in config header.
LOCATE COMP "spi_csn" SITE "T2";
LOCATE COMP "spi_sclk" SITE "Y2";
LOCATE COMP "spi_copi" SITE "W2";
LOCATE COMP "spi_cipo" SITE "V2";
IOBUF PORT "spi_csn" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "spi_sclk" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "spi_copi" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "spi_cipo" PULLMODE=NONE IO_TYPE=LVCMOS33;

## Buttons
LOCATE COMP "gsr_n" SITE "G2";
LOCATE COMP "btn" SITE "P4";
IOBUF PORT "gsr_n" IO_TYPE=LVCMOS33;
IOBUF PORT "btn" IO_TYPE=LVCMOS33;

## LEDs
LOCATE COMP "led[0]" SITE "A13";
LOCATE COMP "led[1]" SITE "A12";
LOCATE COMP "led[2]" SITE "B19";
LOCATE COMP "led[3]" SITE "A18";
LOCATE COMP "led[4]" SITE "B18";
LOCATE COMP "led[5]" SITE "C17";
LOCATE COMP "led[6]" SITE "A17";
LOCATE COMP "led[7]" SITE "B17";
IOBUF PORT "led[0]" PULLMODE=UP IO_TYPE=LVCMOS25;
IOBUF PORT "led[1]" PULLMODE=UP IO_TYPE=LVCMOS25;
IOBUF PORT "led[2]" PULLMODE=UP IO_TYPE=LVCMOS25;
IOBUF PORT "led[3]" PULLMODE=UP IO_TYPE=LVCMOS25;
IOBUF PORT "led[4]" PULLMODE=UP IO_TYPE=LVCMOS25;
IOBUF PORT "led[5]" PULLMODE=UP IO_TYPE=LVCMOS25;
IOBUF PORT "led[6]" PULLMODE=UP IO_TYPE=LVCMOS25;
IOBUF PORT "led[7]" PULLMODE=UP IO_TYPE=LVCMOS25;

## FTDI UART, after population of R34/R35, see page 24 of board users guide.
LOCATE COMP "uart_rx" SITE "P2";
LOCATE COMP "uart_tx" SITE "P3";
IOBUF PORT "uart_rx" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "uart_tx" PULLMODE=UP IO_TYPE=LVCMOS33;

LOCATE COMP "aux0_rx" SITE "A3";
LOCATE COMP "aux1_rx" SITE "C3";
IOBUF PORT "aux0_rx" PULLMODE=NONE IO_TYPE=LVDS DIFFRESISTOR=100;
IOBUF PORT "aux1_rx" PULLMODE=NONE IO_TYPE=LVDS DIFFRESISTOR=100;

LOCATE COMP "aux0_tx" SITE "C4";
LOCATE COMP "aux1_tx" SITE "E4";
IOBUF PORT "aux0_tx" PULLMODE=NONE IO_TYPE=LVDS;
IOBUF PORT "aux1_tx" PULLMODE=NONE IO_TYPE=LVDS;

LOCATE COMP "debug" SITE "A11";
IOBUF PORT "debug" PULLMODE=NONE IO_TYPE=LVCMOS33;
