set_io --warn-no-port seq_to_nic_v1p1_en A1
set_io --warn-no-port nic_to_seq_v1p1_pg A2
set_io --warn-no-port seq_to_nic_v1p2_enet_en A5
set_io --warn-no-port seq_rev_id0 A10
set_io --warn-no-port seq_rev_id1 A11
set_io --warn-no-port pwr_cont_nic_pg1 A15
set_io --warn-no-port pwr_cont_nic_pg0 A16
set_io --warn-no-port seq_to_nic_v1p5a_en B1
set_io --warn-no-port seq_to_nic_ldo_v3p3_en B2
set_io --warn-no-port seq_to_nic_v1p2_en B3
set_io --warn-no-port testpoint1 B4
set_io --warn-no-port seq_rev_id2 B10
set_io --warn-no-port seq_to_nic_cld_rst_l B14
set_io --warn-no-port pwr_cont_nic_en0 B15
set_io --warn-no-port nic_to_seq_v1p5d_pg C1
set_io --warn-no-port nic_to_seq_v1p5a_pg C2
set_io --warn-no-port nic_to_seq_v1p2_pg C3
set_io --warn-no-port testpoint2 C4
set_io --warn-no-port nic_to_seq_v1p2_enet_pg C6
set_io --warn-no-port nic_to_seq_ext_rst_l C13
set_io --warn-no-port pwr_cont_nic_en1 C16
set_io --warn-no-port seq_to_nic_v1p5d_en D1
set_io --warn-no-port seq_to_clk_nmr_l D2
set_io --warn-no-port nic_to_seq_v1p1_pg D14
set_io --warn-no-port fanhp_to_seq_fault_l D15
set_io --warn-no-port fanhp_to_seq_pwrgd D16
set_io --warn-no-port seq_to_clk_ntest E2
set_io --warn-no-port v2p5_seq_pll_a2 E12
set_io --warn-no-port vtt_ef_a0_to_seq_pg E13
set_io --warn-no-port vtt_gh_a0_to_seq_pg E14
set_io --warn-no-port seq_to_fan_hp_en E16
set_io --warn-no-port seq_to_clk_gpio3 F1
set_io --warn-no-port seq_to_clk_gpio9 F2
set_io --warn-no-port clk50m_to_seq_gbin0 F7
set_io --warn-no-port seq_to_vtt_efgh_en F16
set_io --warn-no-port seq_to_clk_gpio8 G1
set_io --warn-no-port seq_to_clk_gpio2 G2
set_io --warn-no-port seq_to_header_misc_i G5
set_io --warn-no-port sp3_to_rsw_pwren_l_via_seq G10
set_io --warn-no-port seq_proxy_sp3_to_rsw_pwren_l G11
set_io --warn-no-port pwr_cont_dimm_efgh_pg0 G15
set_io --warn-no-port seq_to_clk_gpio1 H1
set_io --warn-no-port seq_to_clk_gpio4 H2
set_io --warn-no-port seq_to_header_misc_e H3
set_io --warn-no-port seq_to_header_misc_f H4
set_io --warn-no-port seq_to_header_misc_g H5
set_io --warn-no-port seq_to_header_misc_h H6
set_io --warn-no-port seq_to_clk_gpio5 J1
set_io --warn-no-port vtt_ab_a0_to_seq_pg J2
set_io --warn-no-port vtt_cd_a0_to_seq_pg J3
set_io --warn-no-port seq_to_sp_interrupt J4
set_io --warn-no-port seq_to_led_en_l J12
set_io --warn-no-port seq_to_nic_v0p9_a0hp_en J13
set_io --warn-no-port pwr_cont_dimm_efgh_en0 J16
set_io --warn-no-port seq_to_vtt_abcd_en K1
set_io --warn-no-port seq_v1p8_sp3_vdd_pg K3
set_io --warn-no-port seq_to_nic_perst_l K13
set_io --warn-no-port sp3_to_seq_nic_perst_l K14
set_io --warn-no-port nic_to_sp3_pwrflt_l K15
set_io --warn-no-port seq_to_sp3_v1p8_en L1
set_io --warn-no-port seq_to_dimm_abcd_v2p5_en L3
set_io --warn-no-port seq_to_sp_misc_a L10
set_io --warn-no-port seq_to_v3p3_sys_en L12
set_io --warn-no-port seq_to_dimm_efgh_v2p5_en L14
set_io --warn-no-port dimm_to_seq_efgh_v2p5_pg L16
set_io --warn-no-port dimm_to_seq_abcd_v2p5_pg M1
set_io --warn-no-port seq_to_sp3_v3p3_s5_en M2
set_io --warn-no-port seq_to_sp_misc_d M11
set_io --warn-no-port seq_to_sp3_v1p8_s5_en M12
set_io --warn-no-port nic_v0p9_a0hp_pg M13
set_io --warn-no-port pwr_cont_dimm_pg0 M14
set_io --warn-no-port v3p3_sys_to_seq_pg M15
set_io --warn-no-port fan_to_seq_fan_fail M16
set_io --warn-no-port sp3_to_seq_v3p3_s5_pg N2
set_io --warn-no-port sp3_to_seq_v1p8_s5_pg N12
set_io --warn-no-port pwr_cont_dimm_pg1 N16
set_io --warn-no-port pwr_cont1_sp3_cfp P1
set_io --warn-no-port pwr_cont1_sp3_nvrhot P2
set_io --warn-no-port pwr_cont1_sp3_pwrok P4
set_io --warn-no-port sp3_to_seq_fsr_req_l P7
set_io --warn-no-port sp3_to_seq_pwrgd_out P8
set_io --warn-no-port rstn P9
set_io --warn-no-port seq_to_sp_misc_b P10
set_io --warn-no-port copi P11
set_io --warn-no-port cipo P12
set_io --warn-no-port pwr_cont2_sp3_pg1 P13
set_io --warn-no-port pwr_cont2_sp3_cfp P14
set_io --warn-no-port pwr_cont_dimm_nvrhot P15
set_io --warn-no-port pwr_cont1_sp3_en R1
set_io --warn-no-port pwr_cont1_sp3_pg0 R2
set_io --warn-no-port seq_to_sp3_v1p5_rtc_en R3
set_io --warn-no-port sp3_to_seq_reset_v3p3_l R4
set_io --warn-no-port seq_to_sp3_rsmrst_v3p3_l R5
set_io --warn-no-port seq_to_sp3_v0p9_s5_en R6
set_io --warn-no-port sp3_to_seq_thermtrip_l R9
set_io --warn-no-port sp3_to_seq_slp_s3_l R10
set_io --warn-no-port sclk R11
set_io --warn-no-port csn R12
set_io --warn-no-port pwr_cont2_sp3_pwrok R14
set_io --warn-no-port pwr_cont_dimm_en1 R15
set_io --warn-no-port pwr_cont_dimm_en0 R16
set_io --warn-no-port pwr_cont1_sp3_pg1 T1
set_io --warn-no-port sp3_to_seq_rtc_v1p5_pg T2
set_io --warn-no-port sp3_to_seq_pwrok_v3p3 T3
set_io --warn-no-port sp3_to_seq_v0p9_vdd_soc_s5_pg T5
set_io --warn-no-port seq_to_nic_comb_pg_l T6
set_io --warn-no-port seq_to_sp3_pwr_good T7
set_io --warn-no-port seq_to_sp3_pwr_btn_l T8
set_io --warn-no-port seq_to_sp3_sys_rst_l T9
set_io --warn-no-port sp3_to_seq_slp_s5_l T10
set_io --warn-no-port seq_to_sp_misc_c T11
set_io --warn-no-port pwr_cont2_sp3_en T13
set_io --warn-no-port pwr_cont2_sp3_pg0 T14
set_io --warn-no-port pwr_cont2_sp3_nvrhot T15
set_io --warn-no-port pwr_cont_dimm_cfp T16
