// 50 MHz clock
LOCATE COMP "clk_50m_fpga_refclk" SITE "B11";
FREQUENCY PORT "clk_50m_fpga_refclk" 50 MHZ;
IOBUF PORT "clk_50m_fpga_refclk" PULLMODE=NONE IO_TYPE=LVCMOS33;

// External reset
LOCATE COMP "sp_to_fpga_design_reset_l" SITE "AA1";
IOBUF PORT "sp_to_fpga_design_reset_l" PULLMODE=NONE IO_TYPE=LVCMOS33;

// SP SPI
LOCATE COMP "spi_sp_to_fpga_cs0_l" SITE "AB2";
IOBUF PORT "spi_sp_to_fpga_cs0_l" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "spi_sp_to_fpga_cs1_l" SITE "AC2";
IOBUF PORT "spi_sp_to_fpga_cs1_l" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "spi_sp_to_fpga_miso_r" SITE "AD1";
IOBUF PORT "spi_sp_to_fpga_miso_r" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "spi_sp_to_fpga_sck" SITE "AD3";
IOBUF PORT "spi_sp_to_fpga_sck" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "spi_sp_to_fpga_mosi" SITE "AF2";
IOBUF PORT "spi_sp_to_fpga_mosi" PULLMODE=NONE IO_TYPE=LVCMOS33;

// SMU
LOCATE COMP "fpga_to_smu_reset_l" SITE "A10";
IOBUF PORT "fpga_to_smu_reset_l" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "fpga_to_smu_mgmt_clk_en_l" SITE "A12";
LOCATE COMP "ldo_to_fpga_smu_pg" SITE "A5";
IOBUF PORT "ldo_to_fpga_smu_pg" PULLMODE=NONE OPENDRAIN=ON IO_TYPE=LVCMOS33;
LOCATE COMP "fpga_to_ldo_smu_en" SITE "A6";
IOBUF PORT "fpga_to_ldo_smu_en" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "fpga_to_smu_tf_clk_en_l" SITE "C8";
IOBUF PORT "fpga_to_smu_tf_clk_en_l" PULLMODE=NONE IO_TYPE=LVCMOS33;

// MGMT
LOCATE COMP "fpga_to_vr_v1p0_mgmt_en" SITE "A24";
IOBUF PORT "fpga_to_vr_v1p0_mgmt_en" PULLMODE=NONE IO_TYPE=LVCMOS18;
LOCATE COMP "vr_v1p0_mgmt_to_fpga_pg" SITE "A25";
IOBUF PORT "vr_v1p0_mgmt_to_fpga_pg" PULLMODE=NONE IO_TYPE=LVCMOS18;
LOCATE COMP "fpga_to_mgmt_reset_l" SITE "B10";
IOBUF PORT "fpga_to_mgmt_reset_l" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "fpga_to_ldo_v1p2_mgmt_en" SITE "B13";
IOBUF PORT "fpga_to_ldo_v1p2_mgmt_en" PULLMODE=NONE IO_TYPE=LVCMOS18;
LOCATE COMP "ldo_to_fpga_v1p2_mgmt_pg" SITE "B14";
IOBUF PORT "ldo_to_fpga_v1p2_mgmt_pg" PULLMODE=NONE IO_TYPE=LVCMOS18;
LOCATE COMP "fpga_to_ldo_v2p5_mgmt_en" SITE "D13";
IOBUF PORT "fpga_to_ldo_v2p5_mgmt_en" PULLMODE=NONE IO_TYPE=LVCMOS18;
LOCATE COMP "ldo_to_fpga_v2p5_mgmt_pg" SITE "D14";
IOBUF PORT "ldo_to_fpga_v2p5_mgmt_pg" PULLMODE=NONE IO_TYPE=LVCMOS18;
LOCATE COMP "mgmt_to_fpga_temp_therm_l" SITE "E6";
IOBUF PORT "mgmt_to_fpga_temp_therm_l" PULLMODE=NONE IO_TYPE=LVCMOS33;

// Fans
LOCATE COMP "fpga_to_fan1_led_l" SITE "A8";
IOBUF PORT "fpga_to_fan1_led_l" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "fpga_to_fan3_led_l" SITE "C10";
IOBUF PORT "fpga_to_fan3_led_l" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "fpga_to_fan0_led_l" SITE "C6";
IOBUF PORT "fpga_to_fan0_led_l" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "fpga_to_fan0_hsc_en" SITE "E4";
IOBUF PORT "fpga_to_fan0_hsc_en" PULLMODE=NONE IO_TYPE=LVCMOS25;
LOCATE COMP "fpga_to_fan2_led_l" SITE "E8";
IOBUF PORT "fpga_to_fan2_led_l" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "fan1_hsc_to_fpga_pg" SITE "F1";
IOBUF PORT "fan1_hsc_to_fpga_pg" PULLMODE=NONE IO_TYPE=LVCMOS25;
LOCATE COMP "fpga_to_fan1_hsc_en" SITE "F2";
IOBUF PORT "fpga_to_fan1_hsc_en" PULLMODE=NONE IO_TYPE=LVCMOS25;
LOCATE COMP "fan0_hsc_to_fpga_pg" SITE "F3";
IOBUF PORT "fan0_hsc_to_fpga_pg" PULLMODE=NONE IO_TYPE=LVCMOS25;
LOCATE COMP "fan3_hsc_to_fpga_pg" SITE "F4";
IOBUF PORT "fan3_hsc_to_fpga_pg" PULLMODE=NONE IO_TYPE=LVCMOS25;
LOCATE COMP "fpga_to_fan3_hsc_en" SITE "F5";
IOBUF PORT "fpga_to_fan3_hsc_en" PULLMODE=NONE IO_TYPE=LVCMOS25;
LOCATE COMP "fpga_to_fan2_hsc_en" SITE "H5";
IOBUF PORT "fpga_to_fan2_hsc_en" PULLMODE=NONE IO_TYPE=LVCMOS25;
LOCATE COMP "fan2_hsc_to_fpga_pg" SITE "H6";
IOBUF PORT "fan2_hsc_to_fpga_pg" PULLMODE=NONE IO_TYPE=LVCMOS25;

// Front I/O
LOCATE COMP "fpga_to_front_io_hsc_en" SITE "H4";
IOBUF PORT "fpga_to_front_io_hsc_en" PULLMODE=NONE IO_TYPE=LVCMOS25;
LOCATE COMP "front_io_hsc_to_fpga_pg" SITE "L5";
IOBUF PORT "front_io_hsc_to_fpga_pg" PULLMODE=NONE IO_TYPE=LVCMOS25;

// Debug
LOCATE COMP "fpga_led0" SITE "AB3";
IOBUF PORT "fpga_led0" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "fpga_debug0" SITE "D11";
IOBUF PORT "fpga_debug0" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "fpga_debug1" SITE "E11";
IOBUF PORT "fpga_debug1" PULLMODE=NONE IO_TYPE=LVCMOS33;

// SP
LOCATE COMP "i2c_south1_sda" SITE "C9";
IOBUF PORT "i2c_south1_sda" PULLMODE=NONE OPENDRAIN=ON IO_TYPE=LVCMOS33;
LOCATE COMP "i2c_south1_scl" SITE "D8";
IOBUF PORT "i2c_south1_scl" PULLMODE=NONE OPENDRAIN=ON IO_TYPE=LVCMOS33;
LOCATE COMP "i2c_south1_sda_o_r" SITE "D9";
IOBUF PORT "i2c_south1_sda_o_r" PULLMODE=NONE OPENDRAIN=ON IO_TYPE=LVCMOS33;

// Tofino

// resets
LOCATE COMP "fpga_to_tf_core_rst_l" SITE "A21";
IOBUF PORT "fpga_to_tf_core_rst_l" PULLMODE=NONE IO_TYPE=LVCMOS18;
LOCATE COMP "fpga_to_tf_pwron_rst_l" SITE "A22";
IOBUF PORT "fpga_to_tf_pwron_rst_l" PULLMODE=NONE IO_TYPE=LVCMOS18;
LOCATE COMP "fpga_to_tf_pcie_rst_l" SITE "A19";
IOBUF PORT "fpga_to_tf_pcie_rst_l" PULLMODE=NONE IO_TYPE=LVCMOS18;

// vid - note bits 0 and 2 are swapped relative to RevA schematic
LOCATE COMP "tf_to_fpga_vid[0]" SITE "D22";
IOBUF PORT "tf_to_fpga_vid[0]" PULLMODE=NONE IO_TYPE=LVCMOS18;
LOCATE COMP "tf_to_fpga_vid[1]" SITE "A23";
IOBUF PORT "tf_to_fpga_vid[1]" PULLMODE=NONE IO_TYPE=LVCMOS18;
LOCATE COMP "tf_to_fpga_vid[2]" SITE "B23";
IOBUF PORT "tf_to_fpga_vid[2]" PULLMODE=NONE IO_TYPE=LVCMOS18;

// vdd1p8
LOCATE COMP "fpga_to_vr_tf_vdd1p8_en" SITE "A9";
IOBUF PORT "fpga_to_vr_tf_vdd1p8_en" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "vr_tf_v1p8_to_fpga_vdd1p8_pg" SITE "B16";
IOBUF PORT "vr_tf_v1p8_to_fpga_vdd1p8_pg" PULLMODE=NONE IO_TYPE=LVCMOS18;
LOCATE COMP "vr_tf_v1p8_to_fpga_fault" SITE "B6";
IOBUF PORT "vr_tf_v1p8_to_fpga_fault" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "vr_tf_v1p8_to_fpga_vr_hot_l" SITE "E16";
IOBUF PORT "vr_tf_v1p8_to_fpga_vr_hot_l" PULLMODE=NONE IO_TYPE=LVCMOS18;

// vddcore
LOCATE COMP "fpga_to_vr_tf_vddcore_en" SITE "C11";
IOBUF PORT "fpga_to_vr_tf_vddcore_en" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "vr_tf_vddcore_to_fpga_pg" SITE "A17";
IOBUF PORT "vr_tf_vddcore_to_fpga_pg" PULLMODE=NONE IO_TYPE=LVCMOS18;
LOCATE COMP "vr_tf_vddcore_to_fpga_fault" SITE "A11";
IOBUF PORT "vr_tf_vddcore_to_fpga_fault" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "vr_tf_vddcore_to_fpga_vrhot_l" SITE "A16";
IOBUF PORT "vr_tf_vddcore_to_fpga_vrhot_l" PULLMODE=NONE IO_TYPE=LVCMOS18;

// vddpcie
LOCATE COMP "fpga_to_ldo_v0p75_tf_pcie_en" SITE "E13";
IOBUF PORT "fpga_to_ldo_v0p75_tf_pcie_en" PULLMODE=NONE IO_TYPE=LVCMOS18;
LOCATE COMP "ldo_to_fpga_v0p75_tf_pcie_pg" SITE "E14";
IOBUF PORT "ldo_to_fpga_v0p75_tf_pcie_pg" PULLMODE=NONE IO_TYPE=LVCMOS18;

// vddt
LOCATE COMP "fpga_to_vr_tf_vddx_en" SITE "D10";
IOBUF PORT "fpga_to_vr_tf_vddx_en" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "vr_tf_vddx_to_fpga_vddt_pg" SITE "C13";
IOBUF PORT "vr_tf_vddx_to_fpga_vddt_pg" PULLMODE=NONE IO_TYPE=LVCMOS18;
LOCATE COMP "vr_tf_vddx_to_fpga_fault" SITE "E10";
IOBUF PORT "vr_tf_vddx_to_fpga_fault" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "vr_tf_vddx_to_fpga_vrhot_l" SITE "D16";
IOBUF PORT "vr_tf_vddx_to_fpga_vrhot_l" PULLMODE=NONE IO_TYPE=LVCMOS18;

// vdda1p5
LOCATE COMP "vr_tf_vddx_to_fpga_vdda15_pg" SITE "C14";
IOBUF PORT "vr_tf_vddx_to_fpga_vdda15_pg" PULLMODE=NONE IO_TYPE=LVCMOS18;

// vdda1p8
LOCATE COMP "fpga_to_vr_tf_vdda1p8_en" SITE "B8";
IOBUF PORT "fpga_to_vr_tf_vdda1p8_en" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "vr_tf_v1p8_to_fpga_vdda1p8_pg" SITE "C16";
IOBUF PORT "vr_tf_v1p8_to_fpga_vdda1p8_pg" PULLMODE=NONE IO_TYPE=LVCMOS18;


// misc
LOCATE COMP "tf_pg_led" SITE "A13";
IOBUF PORT "tf_pg_led" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "i2c_fpga_to_tf_sda_o_r" SITE "A14";
IOBUF PORT "i2c_fpga_to_tf_sda_o_r" PULLMODE=NONE OPENDRAIN=ON IO_TYPE=LVCMOS33;
LOCATE COMP "i2c_fpga_to_tf_sda" SITE "A15";
IOBUF PORT "i2c_fpga_to_tf_sda" PULLMODE=NONE OPENDRAIN=ON IO_TYPE=LVCMOS33;
LOCATE COMP "i2c_fpga_to_tf_scl" SITE "C19";
IOBUF PORT "i2c_fpga_to_tf_scl" PULLMODE=NONE OPENDRAIN=ON IO_TYPE=LVCMOS18;
LOCATE COMP "tf_to_fpga_irq[3]" SITE "B17";
IOBUF PORT "tf_to_fpga_irq[3]" PULLMODE=NONE IO_TYPE=LVCMOS18;
LOCATE COMP "fpga_to_tf_test_core_tap_l" SITE "B21";
IOBUF PORT "fpga_to_tf_test_core_tap_l" PULLMODE=NONE IO_TYPE=LVCMOS18;
LOCATE COMP "tf_to_fpga_irq[2]" SITE "C17";
IOBUF PORT "tf_to_fpga_irq[2]" PULLMODE=NONE IO_TYPE=LVCMOS18;
LOCATE COMP "tf_to_fpga_irq[1]" SITE "C18";
IOBUF PORT "tf_to_fpga_irq[1]" PULLMODE=NONE IO_TYPE=LVCMOS18;
LOCATE COMP "fpga_to_tf_test_jtsel[3]" SITE "C21";
IOBUF PORT "fpga_to_tf_test_jtsel[3]" PULLMODE=NONE IO_TYPE=LVCMOS18;
LOCATE COMP "fpga_to_tf_test_jtsel[0]" SITE "C22";
IOBUF PORT "fpga_to_tf_test_jtsel[0]" PULLMODE=NONE IO_TYPE=LVCMOS18;
LOCATE COMP "tf_to_fpga_irq[0]" SITE "D18";
IOBUF PORT "tf_to_fpga_irq[0]" PULLMODE=NONE IO_TYPE=LVCMOS18;
LOCATE COMP "i2c_tf_to_fpga_1_sda" SITE "D17";
IOBUF PORT "i2c_tf_to_fpga_1_sda" PULLMODE=NONE OPENDRAIN=ON IO_TYPE=LVCMOS18;
LOCATE COMP "i2c_tf_to_fpga_1_scl" SITE "E17";
IOBUF PORT "i2c_tf_to_fpga_1_scl" PULLMODE=NONE OPENDRAIN=ON IO_TYPE=LVCMOS18;
LOCATE COMP "i2c_tf_to_fpga_0_scl" SITE "D19";
IOBUF PORT "i2c_tf_to_fpga_0_scl" PULLMODE=NONE OPENDRAIN=ON IO_TYPE=LVCMOS18;
LOCATE COMP "i2c_tf_to_fpga_0_sda" SITE "E19";
IOBUF PORT "i2c_tf_to_fpga_0_sda" PULLMODE=NONE OPENDRAIN=ON IO_TYPE=LVCMOS18;
LOCATE COMP "fpga_to_tf_test_jtsel[2]" SITE "D21";
IOBUF PORT "fpga_to_tf_test_jtsel[2]" PULLMODE=NONE IO_TYPE=LVCMOS18;
LOCATE COMP "tf_to_fpga_temp_therm_l" SITE "D6";
IOBUF PORT "tf_to_fpga_temp_therm_l" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "fpga_to_tf_test_jtsel[1]" SITE "E21";
IOBUF PORT "fpga_to_tf_test_jtsel[1]" PULLMODE=NONE IO_TYPE=LVCMOS18;
LOCATE COMP "fpga_to_tf_spi_wp_l" SITE "A18";
IOBUF PORT "fpga_to_tf_spi_wp_l" PULLMODE=NONE IO_TYPE=LVCMOS18;

// I2C (unwired)

// PCIe (unwired)
LOCATE COMP "pcie_fpga_to_host_prsnt_l" SITE "A2";
IOBUF PORT "pcie_fpga_to_host_prsnt_l" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "pcie_fpga_to_host_pwrflt" SITE "A3";
IOBUF PORT "pcie_fpga_to_host_pwrflt" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "pcie_host_to_fpga_smbdat" SITE "A4";
IOBUF PORT "pcie_host_to_fpga_smbdat" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "pcie_host_to_fpga_smbclk" SITE "B4";
IOBUF PORT "pcie_host_to_fpga_smbclk" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "pcie_host_to_fpga_perst" SITE "C5";
IOBUF PORT "pcie_host_to_fpga_perst" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "pcie_host_to_fpga_pwren" SITE "D5";
IOBUF PORT "pcie_host_to_fpga_pwren" PULLMODE=NONE IO_TYPE=LVCMOS33;

// TODO: wire these into Top

LOCATE COMP "fpga_to_sp_irq1_r" SITE "AB1";
IOBUF PORT "fpga_to_sp_irq1_r" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "sp_to_fpga_program_l" SITE "AB4";
IOBUF PORT "sp_to_fpga_program_l" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "fpga_jtag_tdi" SITE "AB5";
IOBUF PORT "fpga_jtag_tdi" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "fpga_to_sp_irq0_r" SITE "AC1";
IOBUF PORT "fpga_to_sp_irq0_r" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "spi_sp_to_fpga_cs1_l" SITE "AC2";
IOBUF PORT "spi_sp_to_fpga_cs1_l" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "fpga_to_sp_done" SITE "AC4";
IOBUF PORT "fpga_to_sp_done" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "fpga_jtag_tdo" SITE "AC5";
IOBUF PORT "fpga_jtag_tdo" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "fpga_jtag_tck" SITE "AD5";
IOBUF PORT "fpga_jtag_tck" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "fpga_to_sp_irq2_r" SITE "AE1";
IOBUF PORT "fpga_to_sp_irq2_r" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "fpga_jtag_tms" SITE "AE5";
IOBUF PORT "fpga_jtag_tms" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "sp_to_fpga_init_l" SITE "AF3";
IOBUF PORT "sp_to_fpga_init_l" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "ignition_psc1_to_ctrl_p" SITE "B1";
IOBUF PORT "ignition_psc1_to_ctrl_p" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "s14_rsw_aux_n" SITE "B24";
IOBUF PORT "s14_rsw_aux_n" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "s14_rsw_aux_p" SITE "B26";
IOBUF PORT "s14_rsw_aux_p" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "ignition_psc1_to_ctrl_n" SITE "B3";
IOBUF PORT "ignition_psc1_to_ctrl_n" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "ignition_ctrl_to_psc0_dc_n" SITE "C1";
IOBUF PORT "ignition_ctrl_to_psc0_dc_n" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "ignition_ctrl_to_psc0_dc_p" SITE "C2";
IOBUF PORT "ignition_ctrl_to_psc0_dc_p" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "s15_rsw_aux_p" SITE "C23";
IOBUF PORT "s15_rsw_aux_p" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "s15_rsw_aux_n" SITE "C24";
IOBUF PORT "s15_rsw_aux_n" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "rsw_s15_aux_dc_p" SITE "C25";
IOBUF PORT "rsw_s15_aux_dc_p" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "rsw_s15_aux_dc_n" SITE "C26";
IOBUF PORT "rsw_s15_aux_dc_n" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "ignition_psc0_to_ctrl_n" SITE "C3";
IOBUF PORT "ignition_psc0_to_ctrl_n" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "ignition_psc0_to_ctrl_p" SITE "C4";
IOBUF PORT "ignition_psc0_to_ctrl_p" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "ignition_rsw_b_to_ctrl_n" SITE "D1";
IOBUF PORT "ignition_rsw_b_to_ctrl_n" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "ignition_ctrl_to_rsw_b_dc_p" SITE "D2";
IOBUF PORT "ignition_ctrl_to_rsw_b_dc_p" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "rsw_s14_aux_dc_p" SITE "D23";
IOBUF PORT "rsw_s14_aux_dc_p" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "rsw_s14_aux_dc_n" SITE "D24";
IOBUF PORT "rsw_s14_aux_dc_n" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "rsw_s13_aux_dc_p" SITE "D25";
IOBUF PORT "rsw_s13_aux_dc_p" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "s13_rsw_aux_n" SITE "D26";
IOBUF PORT "s13_rsw_aux_n" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "ignition_ctrl_to_psc1_dc_n" SITE "D3";
IOBUF PORT "ignition_ctrl_to_psc1_dc_n" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "ignition_ctrl_to_psc1_dc_p" SITE "D4";
IOBUF PORT "ignition_ctrl_to_psc1_dc_p" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "ignition_ctrl_to_rsw_b_dc_n" SITE "E1";
IOBUF PORT "ignition_ctrl_to_rsw_b_dc_n" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "s12_rsw_aux_p" SITE "E23";
IOBUF PORT "s12_rsw_aux_p" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "s13_rsw_aux_p" SITE "E24";
IOBUF PORT "s13_rsw_aux_p" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "rsw_s13_aux_dc_n" SITE "E26";
IOBUF PORT "rsw_s13_aux_dc_n" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "ignition_rsw_b_to_ctrl_p" SITE "E3";
IOBUF PORT "ignition_rsw_b_to_ctrl_p" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "rsw_s11_aux_dc_p" SITE "F22";
IOBUF PORT "rsw_s11_aux_dc_p" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "rsw_s11_aux_dc_n" SITE "F23";
IOBUF PORT "rsw_s11_aux_dc_n" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "s12_rsw_aux_n" SITE "F24";
IOBUF PORT "s12_rsw_aux_n" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "rsw_s12_aux_dc_p" SITE "F25";
IOBUF PORT "rsw_s12_aux_dc_p" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "rsw_s12_aux_dc_n" SITE "F26";
IOBUF PORT "rsw_s12_aux_dc_n" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "s20_rsw_aux_n" SITE "H1";
IOBUF PORT "s20_rsw_aux_n" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "s20_rsw_aux_p" SITE "H2";
IOBUF PORT "s20_rsw_aux_p" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "s11_rsw_aux_n" SITE "H21";
IOBUF PORT "s11_rsw_aux_n" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "s11_rsw_aux_p" SITE "H22";
IOBUF PORT "s11_rsw_aux_p" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "s10_rsw_aux_p" SITE "H23";
IOBUF PORT "s10_rsw_aux_p" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "rsw_s18_aux_dc_p" SITE "H24";
IOBUF PORT "rsw_s18_aux_dc_p" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "s18_rsw_aux_p" SITE "H25";
IOBUF PORT "s18_rsw_aux_p" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "s18_rsw_aux_n" SITE "H26";
IOBUF PORT "s18_rsw_aux_n" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "rsw_s20_aux_dc_p" SITE "H3";
IOBUF PORT "rsw_s20_aux_dc_p" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "rsw_s21_aux_dc_n" SITE "J1";
IOBUF PORT "rsw_s21_aux_dc_n" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "rsw_s10_aux_dc_p" SITE "J21";
IOBUF PORT "rsw_s10_aux_dc_p" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "rsw_s9_aux_dc_n" SITE "J23";
IOBUF PORT "rsw_s9_aux_dc_n" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "rsw_s18_aux_dc_n" SITE "J24";
IOBUF PORT "rsw_s18_aux_dc_n" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "rsw_s17_aux_dc_n" SITE "J26";
IOBUF PORT "rsw_s17_aux_dc_n" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "rsw_s20_aux_dc_n" SITE "J3";
IOBUF PORT "rsw_s20_aux_dc_n" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "s22_rsw_aux_p" SITE "K1";
IOBUF PORT "s22_rsw_aux_p" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "rsw_s21_aux_dc_p" SITE "K2";
IOBUF PORT "rsw_s21_aux_dc_p" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "rsw_s10_aux_dc_n" SITE "K21";
IOBUF PORT "rsw_s10_aux_dc_n" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "rsw_s9_aux_dc_p" SITE "K22";
IOBUF PORT "rsw_s9_aux_dc_p" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "rsw_s19_aux_dc_p" SITE "K23";
IOBUF PORT "rsw_s19_aux_dc_p" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "s17_rsw_aux_p" SITE "K24";
IOBUF PORT "s17_rsw_aux_p" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "rsw_s17_aux_dc_p" SITE "K25";
IOBUF PORT "rsw_s17_aux_dc_p" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "s16_rsw_aux_p" SITE "K26";
IOBUF PORT "s16_rsw_aux_p" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "s21_rsw_aux_p" SITE "K3";
IOBUF PORT "s21_rsw_aux_p" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "s22_rsw_aux_n" SITE "L1";
IOBUF PORT "s22_rsw_aux_n" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "rsw_s22_aux_dc_p" SITE "L2";
IOBUF PORT "rsw_s22_aux_dc_p" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "s10_rsw_aux_n" SITE "L22";
IOBUF PORT "s10_rsw_aux_n" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "rsw_s19_aux_dc_n" SITE "L23";
IOBUF PORT "rsw_s19_aux_dc_n" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "s17_rsw_aux_n" SITE "L24";
IOBUF PORT "s17_rsw_aux_n" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "rsw_s16_aux_dc_p" SITE "L25";
IOBUF PORT "rsw_s16_aux_dc_p" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "s16_rsw_aux_n" SITE "L26";
IOBUF PORT "s16_rsw_aux_n" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "s21_rsw_aux_n" SITE "L3";
IOBUF PORT "s21_rsw_aux_n" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "rsw_s22_aux_dc_n" SITE "M1";
IOBUF PORT "rsw_s22_aux_dc_n" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "s9_rsw_aux_p" SITE "M21";
IOBUF PORT "s9_rsw_aux_p" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "s9_rsw_aux_n" SITE "M23";
IOBUF PORT "s9_rsw_aux_n" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "s8_rsw_aux_n" SITE "M24";
IOBUF PORT "s8_rsw_aux_n" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "rsw_s16_aux_dc_n" SITE "M26";
IOBUF PORT "rsw_s16_aux_dc_n" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "s23_rsw_aux_n" SITE "M3";
IOBUF PORT "s23_rsw_aux_n" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "rsw_s23_aux_dc_p" SITE "N1";
IOBUF PORT "rsw_s23_aux_dc_p" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "rsw_s23_aux_dc_n" SITE "N2";
IOBUF PORT "rsw_s23_aux_dc_n" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "s19_rsw_aux_p" SITE "N21";
IOBUF PORT "s19_rsw_aux_p" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "s19_rsw_aux_n" SITE "N22";
IOBUF PORT "s19_rsw_aux_n" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "s4_rsw_aux_n" SITE "N23";
IOBUF PORT "s4_rsw_aux_n" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "s8_rsw_aux_p" SITE "N24";
IOBUF PORT "s8_rsw_aux_p" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "rsw_s8_aux_dc_n" SITE "N25";
IOBUF PORT "rsw_s8_aux_dc_n" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "rsw_s8_aux_dc_p" SITE "N26";
IOBUF PORT "rsw_s8_aux_dc_p" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "s23_rsw_aux_p" SITE "N3";
IOBUF PORT "s23_rsw_aux_p" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "s24_rsw_aux_n" SITE "N4";
IOBUF PORT "s24_rsw_aux_n" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "rsw_s26_aux_dc_n" SITE "P1";
IOBUF PORT "rsw_s26_aux_dc_n" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "rsw_s26_aux_dc_p" SITE "P2";
IOBUF PORT "rsw_s26_aux_dc_p" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "s4_rsw_aux_p" SITE "P21";
IOBUF PORT "s4_rsw_aux_p" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "rsw_s4_aux_dc_n" SITE "P22";
IOBUF PORT "rsw_s4_aux_dc_n" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "rsw_s4_aux_dc_p" SITE "P23";
IOBUF PORT "rsw_s4_aux_dc_p" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "s6_rsw_aux_n" SITE "P24";
IOBUF PORT "s6_rsw_aux_n" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "rsw_s5_aux_dc_p" SITE "P25";
IOBUF PORT "rsw_s5_aux_dc_p" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "rsw_s5_aux_dc_n" SITE "P26";
IOBUF PORT "rsw_s5_aux_dc_n" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "s27_rsw_aux_n" SITE "P3";
IOBUF PORT "s27_rsw_aux_n" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "rsw_s24_aux_dc_p" SITE "P4";
IOBUF PORT "rsw_s24_aux_dc_p" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "rsw_s24_aux_dc_n" SITE "P5";
IOBUF PORT "rsw_s24_aux_dc_n" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "s24_rsw_aux_p" SITE "P6";
IOBUF PORT "s24_rsw_aux_p" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "s26_rsw_aux_n" SITE "R1";
IOBUF PORT "s26_rsw_aux_n" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "s7_rsw_aux_p" SITE "R21";
IOBUF PORT "s7_rsw_aux_p" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "rsw_s7_aux_dc_p" SITE "R23";
IOBUF PORT "rsw_s7_aux_dc_p" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "s6_rsw_aux_p" SITE "R24";
IOBUF PORT "s6_rsw_aux_p" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "s5_rsw_aux_n" SITE "R26";
IOBUF PORT "s5_rsw_aux_n" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "s27_rsw_aux_p" SITE "R3";
IOBUF PORT "s27_rsw_aux_p" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "rsw_s25_aux_dc_p" SITE "R4";
IOBUF PORT "rsw_s25_aux_dc_p" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "s25_rsw_aux_p" SITE "R6";
IOBUF PORT "s25_rsw_aux_p" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "s28_rsw_aux_n" SITE "T1";
IOBUF PORT "s28_rsw_aux_n" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "s26_rsw_aux_p" SITE "T2";
IOBUF PORT "s26_rsw_aux_p" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "rsw_s7_aux_dc_n" SITE "T22";
IOBUF PORT "rsw_s7_aux_dc_n" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "s7_rsw_aux_n" SITE "T23";
IOBUF PORT "s7_rsw_aux_n" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "rsw_s6_aux_dc_p" SITE "T24";
IOBUF PORT "rsw_s6_aux_dc_p" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "s5_rsw_aux_p" SITE "T25";
IOBUF PORT "s5_rsw_aux_p" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "s3_rsw_aux_n" SITE "T26";
IOBUF PORT "s3_rsw_aux_n" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "rsw_s27_aux_dc_p" SITE "T3";
IOBUF PORT "rsw_s27_aux_dc_p" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "s25_rsw_aux_n" SITE "T4";
IOBUF PORT "s25_rsw_aux_n" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "rsw_s25_aux_dc_n" SITE "T5";
IOBUF PORT "rsw_s25_aux_dc_n" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "s28_rsw_aux_p" SITE "U1";
IOBUF PORT "s28_rsw_aux_p" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "rsw_s28_aux_dc_n" SITE "U2";
IOBUF PORT "rsw_s28_aux_dc_n" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "s1_rsw_aux_p" SITE "U21";
IOBUF PORT "s1_rsw_aux_p" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "rsw_s1_aux_dc_n" SITE "U22";
IOBUF PORT "rsw_s1_aux_dc_n" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "s1_rsw_aux_n" SITE "U23";
IOBUF PORT "s1_rsw_aux_n" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "rsw_s6_aux_dc_n" SITE "U24";
IOBUF PORT "rsw_s6_aux_dc_n" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "rsw_s3_aux_dc_n" SITE "U25";
IOBUF PORT "rsw_s3_aux_dc_n" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "s3_rsw_aux_p" SITE "U26";
IOBUF PORT "s3_rsw_aux_p" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "rsw_s27_aux_dc_n" SITE "U3";
IOBUF PORT "rsw_s27_aux_dc_n" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "s30_rsw_aux_n" SITE "U4";
IOBUF PORT "s30_rsw_aux_n" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "rsw_s30_aux_dc_n" SITE "U5";
IOBUF PORT "rsw_s30_aux_dc_n" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "s30_rsw_aux_p" SITE "U6";
IOBUF PORT "s30_rsw_aux_p" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "rsw_s28_aux_dc_p" SITE "V1";
IOBUF PORT "rsw_s28_aux_dc_p" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "rsw_s0_aux_dc_n" SITE "V21";
IOBUF PORT "rsw_s0_aux_dc_n" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "rsw_s1_aux_dc_p" SITE "V23";
IOBUF PORT "rsw_s1_aux_dc_p" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "rsw_s2_aux_dc_p" SITE "V24";
IOBUF PORT "rsw_s2_aux_dc_p" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "rsw_s3_aux_dc_p" SITE "V26";
IOBUF PORT "rsw_s3_aux_dc_p" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "rsw_s29_aux_dc_p" SITE "V3";
IOBUF PORT "rsw_s29_aux_dc_p" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "rsw_s30_aux_dc_p" SITE "V4";
IOBUF PORT "rsw_s30_aux_dc_p" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "rsw_s31_aux_dc_n" SITE "V6";
IOBUF PORT "rsw_s31_aux_dc_n" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "rsw_s29_aux_dc_n" SITE "W1";
IOBUF PORT "rsw_s29_aux_dc_n" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "s29_rsw_aux_p" SITE "W2";
IOBUF PORT "s29_rsw_aux_p" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "s0_rsw_aux_n" SITE "W21";
IOBUF PORT "s0_rsw_aux_n" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "s0_rsw_aux_p" SITE "W22";
IOBUF PORT "s0_rsw_aux_p" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "rsw_s0_aux_dc_p" SITE "W23";
IOBUF PORT "rsw_s0_aux_dc_p" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "s2_rsw_aux_n" SITE "W24";
IOBUF PORT "s2_rsw_aux_n" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "s2_rsw_aux_p" SITE "W25";
IOBUF PORT "s2_rsw_aux_p" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "rsw_s2_aux_dc_n" SITE "W26";
IOBUF PORT "rsw_s2_aux_dc_n" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "s29_rsw_aux_n" SITE "W3";
IOBUF PORT "s29_rsw_aux_n" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "rsw_s31_aux_dc_p" SITE "W4";
IOBUF PORT "rsw_s31_aux_dc_p" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "s31_rsw_aux_p" SITE "W5";
IOBUF PORT "s31_rsw_aux_p" PULLMODE=NONE IO_TYPE=LVCMOS25D;
LOCATE COMP "s31_rsw_aux_n" SITE "W6";
IOBUF PORT "s31_rsw_aux_n" PULLMODE=NONE IO_TYPE=LVCMOS25D;
