set_io clk_50mhz A43
set_io -pullup yes rst_nc B19

set_io --warn-no-port -pullup yes id[0] A38
set_io --warn-no-port -pullup yes id[1] A39
set_io --warn-no-port -pullup yes id[2] A40
set_io --warn-no-port -pullup yes id[3] A45
set_io --warn-no-port -pullup yes id[4] A46
set_io --warn-no-port -pullup yes id[5] A47

set_io --warn-no-port -pullup yes flt[0] A26
set_io --warn-no-port -pullup yes flt[1] A27
set_io --warn-no-port -pullup yes flt[2] A31
set_io --warn-no-port -pullup yes flt[3] A32
set_io --warn-no-port -pullup yes flt[4] A33
set_io --warn-no-port -pullup yes flt[5] A34

set_io --warn-no-port cmd[0] A13
set_io --warn-no-port cmd[1] A14
set_io --warn-no-port cmd[2] A16

set_io --warn-no-port sys_rst A25

# AUX0
set_io --warn-no-port aux0_rx_p A4
set_io --warn-no-port aux0_tx_p A2
set_io --warn-no-port aux0_tx_n B1

# AUX1
set_io --warn-no-port aux1_rx_p B8
set_io --warn-no-port aux1_tx_p A8
set_io --warn-no-port aux1_tx_n B5
